/*Configuraciones generales*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h2{
    font-family: 'Montserrat', 'sans-serif';
    font-size: 20px;
    text-align: center;
    color:#2E6009;
    margin: 2rem;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  min-height: 100vh;
  color: #4b4b4b;
}

main {
  background-color:#F4F4F4;
  min-height: 100hv;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/*Header y nav*/

header > .img > img{
    height: 100px;
}
header{
    top:0;
    height: 15%;
    max-height: 150px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    place-items: center;
    text-align: center;
    background-color: #F0E8DD;
    font-weight: bold;
}

nav{
    width: 100%;
}

ul{
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

ul > li > a{
    text-decoration: none;
    color:#2E6009;
}

ul > li > a:hover{
    color: #a7866D;
}

#nav_registro{
    display: flex;
    justify-content:space-between;
}

#nav_registro > a{
    font-weight: bold;
    color:#2E6009;
    padding-inline: 1rem;
    text-decoration: none;
}

#nav_registro > a:hover{
    color: #a7866D;
}

/*Formulario*/

form > fieldset{
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-color: #F0E8DD;
    border-style: none;
    box-shadow: #a7866D 0px 0px 5px;
}

form > fieldset > input,textarea{
    border-style: none;
    border-radius: 0.5rem;
    margin: 0.5rem;
    width: 100%;
    max-width: 340px;
    height: 2rem;
}

textarea{
    min-height: 5rem;
}

#contacto_btn,#no_autorizado_btn{
    background-color: #2E6009;
    color: white;
    cursor: pointer;
}

#contacto_btn:hover,#no_autorizado_btn:hover{
    background-color: #a7866D;
}

#no_autorizado_btn{
    padding: 0.5rem;
    border-radius: 1rem;
    border-style: none;
}