*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1{
    margin-top: 2rem;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 28px;
    text-align: center;
    color:#2E6009;
}

h2{
    font-family: 'Montserrat', 'sans-serif';
    font-size: 20px;
    text-align: center;
    color:#2E6009;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  min-height: 100vh;
  color: #4b4b4b;
  background-color:#F4F4F4;
}

main {
  background-color:#F4F4F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

main > section{
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    margin: 2rem;
}

main > section > form{
   display: flex;
   flex-direction: column; 
   justify-items: center;
   align-items: center;
   margin: 2rem;
   min-width: 400px;
   padding: 0.5rem;
   margin-bottom: 1rem;
   border-radius: 1rem;
   background-color: #F0E8DD;
   box-sizing: border-box;
   box-shadow: #a7866D 0px 0px 5px;
   border-style: none;
}

input,select{
    border-style: none;
    border-radius: 0.5rem;
    margin: 0.5rem;
    width: 100%;
    max-width: 340px;
    height: 2em;
}

#btn_guardar_persona, #btn_guardar_direccion,#btn_guardar_trabajador{
    border-radius: 0.7rem;
    border-style:none;
    background-color: #2E6009;
    font-weight: bold;
    color: #F4F4F4;
}

#btn_guardar_persona:hover,
#btn_guardar_direccion:hover,
#btn_guardar_trabajador:hover{
    background-color: #a7866D;
    cursor: pointer;
}

/*Para agregar usuario*/
main  > form > fieldset{
   display: flex;
   flex-direction: column; 
   justify-items: center;
   align-items: center;
   margin: 2rem;
   min-width: 400px;
   padding: 0.5rem;
   margin-bottom: 1rem;
   border-radius: 1rem;
   background-color: #F0E8DD;
   box-sizing: border-box;
   box-shadow: #a7866D 0px 0px 5px;
   border-style: none;
}

