@media print {

    body * {
        visibility: hidden;
    }

    #ticket,
    #ticket * {
        visibility: visible;
    }

    #ticket {

        position: absolute;
        left: 0;
        top: 0;

        width: 80mm;

        background: white;

        padding: 10px;

        margin: 0;
    }

    .btn,
    .sidebar,
    .main-content h1,
    #buscar,
    #buscarCliente,
    #listaClientes,
    #mascotaSelect {

        display: none !important;
    }
}