main {
  min-height: 100vh;
  color: #4b4b4b;
  background-color:#F4F4F4;
}

main > section{
    margin: 2rem;
}

table {
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    border-radius: 8px;
    overflow: hidden;
}

thead{
  background-color:#2E6009;
  color: #F4F4F4;
}

tbody{
  color: #4b4b4b;
}

/* --- Filas del Cuerpo de la Tabla (tbody) --- */
tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Color alterno para las filas */
}

tbody tr:hover {
    background-color: #f1f1f1; /* Efecto al pasar el mouse */
}

th,td {
  white-space: normal;
  word-wrap: break-word;
  font-size: 14px;
  text-align: center;
  padding: 15px;
}

.acciones{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.edit_btn, .delete_btn{
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
}